body {

	background-color: #acdcfe;

	margin:0px;
}

div.topbar {

	height:50px;

	width:100%;
	
	background-color: #aefeae;

	border-radius: 5px;

	margin:0px;

	

}

button.barbuttons {

	height:100%;

	width:100px;

	background-color: #fea9a9;

	border-style: none;

	border-width: .25px;

	border-color: white;

	color:white;

	margin:0px;

	padding:0px;

	display:block;

	float:left;

	transition-duration: 0.4s;


}

button.barbuttons:hover {

	background-color: #d6aefe;
}

button.rightbuttons {

	height:100%;

	width:100px;

	background-color: #fea9a9;

	border-style: none;

	border-width: 1px;

	border-color: white;

	color:white;

	margin:0px;

	padding:0px;

	display:block;

	float:right;

	transition-duration: 0.4s;
}

button.rightbuttons:hover {

	background-color: #d6aefe;
}

#sidebarbutton {

	background-color: #feaefe;

	float:left;
}

#sidebar {

	height: 70%;

	width:100px;

	float:left;

	display: none;
}

#sidebaractive {

	height: 70%;

	width:100px;

	background-color: #feaefe;

	float:left;

	display:block;

	opacity:1;

	animation-name:sidebaranim;

	animation-duration:.4s;
}

@keyframes sidebaranim {

	0% {width:0px;}

	100% {width:100px;}
}

h1 {

	color:white;
}